.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: solid 1px #ccc;
    align-items: center;
    background-color: var(--white);
}

.header .logoAndMainMenu{
    display: flex;
    gap: 3rem;
}

.header .mainMenu{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header .mainMenu li a{
    text-decoration: none;
    color: var(--dark-grayish-blue);
    border-bottom: solid 3px transparent;
    transition: 0.5s;
    padding: 2rem 0;
}

.header .mainMenu li a:hover{
    text-decoration: none;
    color: var(--dark-grayish-blue);
    border-bottom: solid 3px var(--orange);
    padding: 2rem 0;
}

.header .logoAndMainMenu .mobileMenu{
    display: none;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header .logoAndMainMenu .mobileMenu img{
    width: 20px;
}

.header .cartButtonAndAvatar{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.header .cartButtonAndAvatar .cartButtonAndBasket .quantityBadge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 999px;
    padding: 0.1rem 0.5rem;
    font-size: 10px;
    font-weight: bold;
}

.header .cartButtonAndAvatar .cartButton{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
}


.header .cartButtonAndAvatar .avatar{
    width: 3rem;
    line-height: 0;
    cursor: pointer;
}



@media (max-width: 730px){
    .header{
        padding: 1rem;
        position: sticky;
        top: 0;
    }

    .header .mainMenu{
        display: none;
    }

    .header .logoAndMainMenu{
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .header .logoAndMainMenu .mobileMenu{
        display: block;
    }
}